numpy~=1.26.4
torch~=2.8.0
pyyaml~=6.0.3
pillow~=11.3.0
ultralytics~=8.3.223
pandas~=2.3.2
pyarrow~=21.0.0
streamlit~=1.51.0
scipy~=1.15.3
scikit-image~=0.25.2
imageio~=2.37.0
tifffile~=2025.5.10
matplotlib~=3.10.6
opencv-python~=4.11.0.86
tqdm~=4.67.1
ipywidgets~=8.1.7
ipython~=8.37.0
simpleitk~=2.5.2
pyqt5~=5.15.11
setuptools~=78.1.1
torchvision~=0.23.0